.CardContainer {
    width: 27.375rem;
    height: 43.3125rem;  

    display: flex;
    flex-direction: column;
}

.title-container {
    height: 3.125rem;
}


.title-card{
    text-align: center;

    display: flex;
    justify-content: center;

    width: 100%;
    height: 1.125rem;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;

    color: #FFFFFF;
}