/* .card-outer {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;    
} */

.card-inner {
    padding: 20px;
    border-top: 25px;
    border-left: 15px;
    border-bottom: 25px;
    border-right: 15px;
    border-color: #000000;
    border-style: solid;
    width: 85%;
    height: 86%;
    background-color: #0E1218;
    border-radius: 50px 55px 50px 55px;
}