.card-outer {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.card-inner {
    padding: 20px;
    width: 80%;
    height: 85%;
    background-color: #0E1218;
    border-radius: 1.5rem .9375rem 1rem 1.5625rem;
}