.card-outer {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;  
    
}

.card-inner {
    padding: 20px;
    width: 83%;
    height: 87%;
    background-color: #0E1218;
    border-radius: 50px;
}