.footer{
    font-family: Prompt;
    font-style: Regular;
    font-size: 15px;
    line-height: 30px;
}

.logo-footer > img{
    width: 24px;
    position: relative;
    top: 110px;
    margin-left: 200px;
    
}

.text-footer{
    margin-left: 230px;
}