.main{
    padding-top: .6113rem;   
}

.profile{
    position: absolute;  
    border: .625rem solid #8257E5;
    border-radius: 50%;
    width: 20.10rem;
    height: 20.125rem;  
    margin-left: 2.5rem; 
    
}

.profile > img{
    border-radius: 50%;
    
}

.info{ 
    position: relative; 
    top: 40%; 
    width: 10.6875rem;
    height: 10.125rem;
    font-family: Prompt;
    font-style: Regular;
    font-size: 16px;
    color: #FFFFFF;
    background-image: linear-gradient(#000000 3.5%, rgba(70, 69, 69, 0.72) 53.65%, rgba(62, 56, 56, 0.42) 100%);
    border-radius: 25%;
    padding: 1.25rem;
    
}

.images{
    padding-top: 10px;
    height: 1.2994rem;
}


.following, .followers, .repository, .company, .location{
    display: flex; 
    gap: .4125rem;
    padding: 5px;

}


